#nicetoolfn-popup {
  .nicetoolfn-popup-mask {
    position: fixed;
    left: 50%;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .nicetoolfn-popup-item {
    position: fixed;
    left: 50%;
    top: 50%;
    background-color: red;
    z-index: 10;
  }
}
